<section class="section">
  <div class="container">
    <h2 class="section-title" id="catalog">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-list-item">
        <div class="catalog-cover-wrap">
          <picture>
            <source
              srcset="
                ./images/banking-app@1x.jpg 1x,
                ./images/banking-app@2x.jpg 2x
              "
              media="(min-width: 1158px)"
            />
            <source
              srcset="
                ./images/banking-app-tab@1x.jpg 1x,
                ./images/banking-app-tab@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/banking-app-mob@1x.jpg 1x,
                ./images/banking-app-mob@2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="catalog-list-img"
              src="./images/banking-app@1x.jpg"
              alt="banking-app"
              width="360"
              height="300"
            />
          </picture>
        </div>
        <div class="catalog-card-content">
          <h3 class="catalog-list-title">Garmin Fenix 7X Pro Sapphire Solar</h3>
          <p class="catalog-list-descr">€500</p>
        </div>
      </li>
      <li class="catalog-list-item">
        <div class="portfolio-cover-wrap">
          <picture>
            <source
              srcset="
                ./images/cashless-payment@1x.jpg 1x,
                ./images/cashless-payment@2x.jpg 2x
              "
              media="(min-width: 1158px)"
            />
            <source
              srcset="
                ./images/cashless-payment-tab@1x.jpg 1x,
                ./images/cashless-payment-tab@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/cashless-payment-mob@1x.jpg 1x,
                ./images/cashless-payment-mob@2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="catalog-list-img"
              src="./images/cashless-payment@1x.jpg"
              alt="cashless-payment"
              width="360"
              height="300"
            />
          </picture>
        </div>
        <div class="catalog-card-content">
          <h3 class="catalog-list-title">Cashless Payment</h3>
          <p class="catalog-list-descr">Marketing</p>
        </div>
      </li>
      <li class="catalog-list-item">
        <div class="catalog-cover-wrap">
          <picture>
            <source
              srcset="
                ./images/meditation-app@1x.jpg 1x,
                ./images/meditation-app@2x.jpg 2x
              "
              media="(min-width: 1158px)"
            />
            <source
              srcset="
                ./images/meditation-app-tab@1x.jpg 1x,
                ./images/meditation-app-tab@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/meditation-app-mob@1x.jpg 1x,
                ./images/meditation-app-mob@2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="catalog-list-img"
              src="./images/meditation-app@1x.jpg"
              alt="meditation-app"
              width="360"
              height="300"
            />
          </picture>
        </div>
        <div class="catalog-card-content">
          <h3 class="catalog-list-title">Meditation App</h3>
          <p class="catalog-list-descr">App</p>
        </div>
      </li>
      <li class="catalog-list-item">
        <div class="catalog-cover-wrap">
          <picture>
            <source
              srcset="
                ./images/taxi-service@1x.jpg 1x,
                ./images/taxi-service@2x.jpg 2x
              "
              media="(min-width: 1158px)"
            />
            <source
              srcset="
                ./images/taxi-service-tab@1x.jpg 1x,
                ./images/taxi-service-tab@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/taxi-service-mob@1x.jpg 1x,
                ./images/taxi-service-mob@2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="catalog-list-img"
              src="./images/taxi-service@1x.jpg"
              alt="taxi-service"
              width="360"
              height="300"
            />
          </picture>
        </div>
        <div class="catalog-card-content">
          <h3 class="catalog-list-title">Taxi Service</h3>
          <p class="catalog-list-descr">Marketing</p>
        </div>
      </li>
      <li class="catalog-list-item">
        <div class="catalog-cover-wrap">
          <picture>
            <source
              srcset="
                ./images/screen-illustrations@1x.jpg 1x,
                ./images/screen-illustrations@2x.jpg 2x
              "
              media="(min-width: 1158px)"
            />
            <source
              srcset="
                ./images/screen-illustrations-tab@1x.jpg 1x,
                ./images/screen-illustrations-tab@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/screen-illustrations-mob@1x.jpg 1x,
                ./images/screen-illustrations-mob@2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="catalog-list-img"
              src="./images/screen-illustrations@1x.jpg"
              alt="screen-illustrations"
              width="360"
              height="300"
            />
          </picture>
        </div>
        <div class="catalog-card-content">
          <h3 class="catalog-list-title">Screen Illustrations</h3>
          <p class="catalog-list-descr">Design</p>
        </div>
      </li>
      <li class="catalog-list-item">
        <div class="catalog-cover-wrap">
          <picture>
            <source
              srcset="
                ./images/online-courses@1x.jpg 1x,
                ./images/online-courses@2x.jpg 2x
              "
              media="(min-width: 1158px)"
            />
            <source
              srcset="
                ./images/online-courses-tab@1x.jpg 1x,
                ./images/online-courses-tab@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/online-courses-mob@1x.jpg 1x,
                ./images/online-courses-mob@2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="catalog-list-img"
              src="./images/online-courses@1x.jpg"
              alt="online-courses"
              width="360"
              height="300"
            />
          </picture>
        </div>
        <div class="catalog-card-content">
          <h3 class="catalog-list-title">Online Courses</h3>
          <p class="catalog-list-descr">Marketing</p>
        </div>
      </li>
    </ul>
  </div>
</section>
