<header class="header" id="header">
    <div class="container">
        <a href="./index.html" class="logo">watchcharm</a>
        <nav class="header-nav">
            <ul class="header-list">
                <li class="header-list-item"><a href="#header"></a>Home</li>
                <li class="header-list-item"><a href="#about-us"></a>About Us</li>
                <li class="header-list-item"><a href="#catalog"></a>Catalog</li>
                <li class="header-list-item"><a href="#sale"></a>Sale</li>
                <li class="header-list-item"><a href="#reviews"></a>Reviews</li>
                <li class="header-list-item"><a href="#contact-us"></a>Contact Us</li>
            </ul>
        </nav>
        <ul class="header-soc-list">
            <li class="header-soc-item">
                <svg class="header-soc-svg">
                    <use href="../img/symbol-defs.svg#icon-facebook"></use>
                </svg>
            </li>
            <li class="header-soc-item">
                <svg class="header-soc-svg">
                    <use href="../img/symbol-defs.svg#icon-instagram"></use>
                </svg>
            </li>
            <li class="header-soc-item">
                <svg class="header-soc-svg">
                    <use href="../img/symbol-defs.svg#icon-youtube"></use>
                </svg>
            </li>
        </ul>
        <button type="button" class="header-modal-btm">
            <svg class="header-modal-svg">
                <use href="../img/symbol-defs.svg#icon-menu"></use>
            </svg>
        </button>

    </div>

    <!-- modal window -->

    <div class="modal-window">
        <button type="button" class="modal-close-btm">
            <svg class="modal-close-svg">
                <use href="../img/symbol-defs.svg#icon-close"></use>
            </svg>
        </button>
        <nav class="modal-nav">
            <ul class="modal-list">
                <li class="modal-list-item"><a href="#header"></a>Home</li>
                <li class="modal-list-item"><a href="#about-us"></a>About Us</li>
                <li class="modal-list-item"><a href="#catalog"></a>Catalog</li>
                <li class="modal-list-item"><a href="#sale"></a>Sale</li>
                <li class="modal-list-item"><a href="#reviews"></a>Reviews</li>
                <li class="modal-list-item"><a href="#contact-us"></a>Contact Us</li>
            </ul>
        </nav>
        <ul class="modal-soc-list">
            <li class="modal-soc-item">
                <svg class="modal-soc-svg">
                    <use href="../img/symbol-defs.svg#icon-facebook"></use>
                </svg>
            </li>
            <li class="modal-soc-item">
                <svg class="modal-soc-svg">
                    <use href="../img/symbol-defs.svg#icon-instagram"></use>
                </svg>
            </li>
            <li class="modal-soc-item">
                <svg class="modal-soc-svg">
                    <use href="../img/symbol-defs.svg#icon-youtube"></use>
                </svg>
            </li>
        </ul>

    </div>
</header>