<section class="section hero" id="hero">
  <div class="hero-container container">
    <div class="items-wo-main-img">
      <div class="title-and-text">
        <h1 class="hero-title">
          Welcome to our <span class="hero-span">collection</span> of premium
          <span class="no-wrap">watches</span>
        </h1>
        <p class="hero-text">
          Our watches are not just timepieces, but also an expression of your
          personality and lifestyle. From classic designs to modern ones, we
          have a watch to suit every taste and occasion.
        </p>
      </div>

      <div class="link-and-list">
        <picture>
          <source
            srcset="
              ./img/hero-images/hero-list1280-min.png     1x,
              ./img/hero-images/hero-list-1280-x2-min.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/hero-images/hero-list768-min.png    1x,
              ./img/hero-images/hero-list768-x2-min.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/hero-images/hero-list375-min.png    1x,
              ./img/hero-images/hero-list375-x2-min.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/hero-images/hero-list1280-min.png"
            alt="hero-img"
            class="hero-list-img"
          />
        </picture>
        <a class="hero-link" href="#footer">Scroll down</a>
      </div>
    </div>
    <picture>
      <source
        srcset="
          ./img/hero-images/hero-img-min.jpg    1x,
          ./img/hero-images/hero-img-x2-min.jpg 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./img/hero-images/hero-img768-min.jpg    1x,
          ./img/hero-images/hero-img768-x2-min.jpg 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./img/hero-images/hero-img320-min.jpg    1x,
          ./img/hero-images/hero-img320-x2-min.jpg 2x
        "
        media="(max-width: 767px)"
      />
      <img
        src="./img/hero-images/hero-img-min.jpg"
        alt="hero-img"
        class="hero-img"
      />
    </picture>
  </div>
</section>
