<section class="section">
  <div class="container">
    <h2 class="section-title">Sale</h2>
    <div class="sale-container">
      <div class="sale-container-images">
        <ul class="sale-list">
          <li class="sale-item">
            <picture>
              <source
                srcset="
                  /img/img-sale-section/1-sale-tab-dex-1x.png 1x,
                  /img/img-sale-section/1-sale-tab-dex-2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /img/img-sale-section/1-sale-mob-1x.png 1x,
                  /img/img-sale-section/1-sale-mob-2x.png 2x
                "
                media="(min-width: 320px)"
              />
              <img
                class="sale-photo"
                src="/img/img-sale-section/1-sale-mob-1x.png"
                alt="Watch"
              />
            </picture>
          </li>
          <li class="sale-item">
            <picture>
              <source
                srcset="
                  /img/img-sale-section/2-sale-tab-dex-1x.png 1x,
                  /img/img-sale-section/2-sale-tab-dex-2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /img/img-sale-section/2-sale-mob-1x.png 1x,
                  /img/img-sale-section/2-sale-mob-2x.png 2x
                "
                media="(min-width: 320px)"
              />
              <img
                class="sale-photo"
                src="/img/img-sale-section/2-sale-mob-1x.png"
                alt="Watch"
              />
            </picture>
          </li>
          <li class="sale-item">
            <picture>
              <source
                srcset="
                  /img/img-sale-section/3-sale-tab-dex-1x.png 1x,
                  /img/img-sale-section/3-sale-tab-dex-2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /img/img-sale-section/3-sale-mob-1x.png 1x,
                  /img/img-sale-section/3-sale-mob-2x.png 2x
                "
                media="(min-width: 320px)"
              />
              <img
                class="sale-photo"
                src="/img/img-sale-section/3-sale-mob-1x.png"
                alt="Watch"
              />
            </picture>
          </li>
          <li class="sale-item">
            <picture>
              <source
                srcset="
                  /img/img-sale-section/4-sale-tab-dex-1x.png 1x,
                  /img/img-sale-section/4-sale-tab-dex-2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /img/img-sale-section/4-sale-mob-1x.png 1x,
                  /img/img-sale-section/4-sale-mob-2x.png 2x
                "
                media="(min-width: 320px)"
              />
              <img
                class="sale-photo"
                src="/img/img-sale-section/4-sale-mob-1x.png"
                alt="Watch"
              />
            </picture>
          </li>
        </ul>
        <div class="sale-images">
          <picture>
            <source
              srcset="
                /img/img-sale-section/image-sale-tab-dex-1x.png 1x,
                /img/img-sale-section/image-sale-tab-dex-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/img-sale-section/image-mob-1x.png 1x,
                /img/img-sale-section/image-mob-2x.png 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="sale-images-photo"
              src="/img/img-sale-section/image-mob-1x.png"
              alt=""
            />
          </picture>
        </div>
      </div>
      <div class="sale-container-blue">
        <h3 class="sale-cont-blue-title">
          MARQ® Commander (Gen 2) - Carbon Edition
        </h3>
        <p class="sale-cont-blue-text">Product tag: 706587</p>
        <div class="sale-cont-blue-price">
          <p class="sale-text-blue-price">€1500</p>
          <p class="sale-text-blue-before">€3000</p>
        </div>
        <p class="sale-cont-blue-description">
          The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
          for adventurers that takes materials and features to the next level.
          The body of the watch is made of very durable Fused Carbon Fiber
          material and has a precise AMOLED touch screen. The sensitive touch
          screen is complemented by buttons that can be used in any conditions.
        </p>
        <ul class="sale-cont-blue-list">
          <li class="sale-cont-blue-item">Fused carbon fiber</li>
          <li class="sale-cont-blue-item">Grade-5 Titanuim</li>
          <li class="sale-cont-blue-item">Athlete</li>
          <li class="sale-cont-blue-item">Golfer</li>
          <li class="sale-cont-blue-item">Commander</li>
          <li class="sale-cont-blue-item">Adventurer</li>
        </ul>
      </div>
    </div>
  </div>
</section>
