
.catalog-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media only screen and (min-width: 768px) {
    .catalog-list {
      flex-direction: row;
      flex-wrap: wrap;
      row-gap: 16px;
      column-gap: 32px;
    }
}

@media only screen and (min-width: 1280px) {
    .catalog-list {
        row-gap: 23px;
    }
}


.catalog-list-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    margin-bottom: 8px;
}

@media only screen and (min-width: 768px) {
  .catalog-list-title {
    font-size: 20px;
    line-height: 1;
    /* max-width: 280px; */
  }
}

.catalog-list-descr {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.5);
}


.catalog-list-item {
    border: 1px solid rgba(12, 12, 12, 0.05);
    border-radius: 30px;
    background-color: #f3f3f3;
    padding: 24px 28px;
}


@media only screen and (min-width: 768px) {
    .catalog-list-item {
        /* width: calc((100% - 16px) / 2); */
        /* max-width: 344px; */
        padding: 24px 32px;
    }
}

/* @media only screen and (min-width: 1280px) {
    .catalog-list-item {
        width: calc((100% - 46px) / 3);
    }
} */

.catalog-list-img {
  max-width: 100%;
  height: auto;
}

@media only screen and (min-width: 768px) {
  .catalog-list-img {
    max-width: 268px;
  }
}

.catalog-wrap {
  margin-bottom: 10px;
}


@media only screen and (max-width: 767px) {
  .mob-none {
    display: none;
  }
}

