@font-face {
    font-family: 'Gilroy';
    src: url(../fonts/Gilroy-Regular.ttf) format('truetype'),
    url(../fonts/Gilroy-Regular.eot) format('embedded-opentype'),
    url(../fonts/Gilroy-Regular.woff) format('woff'),
    url(../fonts/Gilroy-Regular.woff2) format('woff2');
    font-style: normal;
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'Gilroy';
    src: url(../fonts/Gilroy-Medium.ttf) format('truetype'),
    url(../fonts/Gilroy-Medium.eot) format('embedded-opentype'),
    url(../fonts/Gilroy-Medium.woff) format('woff'),
    url(../fonts/Gilroy-Medium.woff2) format('woff2');
    font-style: normal;
    font-weight: 500;
  }
  
  @font-face {
    font-family: 'Gilroy';
    src: url(../fonts/Gilroy-Semibold.ttf) format('truetype'),
    url(../fonts/Gilroy-Semibold.eot) format('embedded-opentype'),
    url(../fonts/Gilroy-Semibold.woff) format('woff'),
    url(../fonts/Gilroy-Semibold.woff2) format('woff2');
    font-style: normal;
    font-weight: 600;
  }
  
  @font-face {
    font-family: 'Gilroy';
    src: url(../fonts/Gilroy-Bold.ttf) format('truetype'),
    url(../fonts/Gilroy-Bold.eot) format('embedded-opentype'),
    url(../fonts/Gilroy-Bold.woff) format('woff'),
    url(../fonts/Gilroy-Bold.woff2) format('woff2');
    font-style: normal;
    font-weight: 700;
  }