/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./about-us.css');
@import url('./catalog.css');
@import url('./advertisement.css');
@import url('./sale.css');
@import url('./reviews.css');
@import url('./contact-us.css');
@import url('./footer.css');


@font-face {
  font-family: 'Gilroy', sans-serif;
  src: url(/src/fonts/Gilroy-Regular.ttf),
  url(/src/fonts/Gilroy-Regular.eot), 
  url(/src/fonts/Gilroy-Regular.woff),
  url(/src/fonts/Gilroy-Regular.woff2);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Gilroy', sans-serif;
  src: url(/src/fonts/Gilroy-Medium.ttf),
  url(/src/fonts/Gilroy-Medium.eot), 
  url(/src/fonts/Gilroy-Medium.woff),
  url(/src/fonts/Gilroy-Medium.woff2);
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Gilroy', sans-serif;
  src: url(/src/fonts/Gilroy-Semibold.ttf),
  url(/src/fonts/Gilroy-Semibold.eot), 
  url(/src/fonts/Gilroy-Semibold.woff),
  url(/src/fonts/Gilroy-Semibold.woff2);
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Gilroy', sans-serif;
  src: url(/src/fonts/Gilroy-Bold.ttf),
  url(/src/fonts/Gilroy-Bold.eot), 
  url(/src/fonts/Gilroy-Bold.woff),
  url(/src/fonts/Gilroy-Bold.woff2);
  font-style: normal;
  font-weight: 700;
}

body {
  background-color: #FBFBFB;
  font-family: 'Gilroy', sans-serif;
  color: #0C0C0C;
}

.section-title {
  margin-bottom: 24px;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}

@media screen and (min-width: 320px) {
  .container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 375px) {
  .container {
    width: 335px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 704px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .section-title {
    margin-bottom: 40px;
    font-size: 48px;
    line-height: 0.92;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1150px;
    padding-left: 65px;
    padding-right: 65px;
  }
}








